<?xml version="1.0" encoding="utf-8" ?>
<server>
	<func>
		<name>
			got_general_info
		</name>
		<description>
		</description>
		<param>
			<name>
				keys
			</name>
			<type>
				String[ ]
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				datas
			</name>
			<type>
				String[ ]
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<func>
		<name>
			got_user_info
		</name>
		<description>
		</description>
		<param>
			<name>
				user_id
			</name>
			<type>
				int
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				keys
			</name>
			<type>
				String[ ]
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				datas
			</name>
			<type>
				String[ ]
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<func>
		<name>
			got_my_user_id
		</name>
		<description>
		</description>
		<param>
			<name>
				myuser_id
			</name>
			<type>
				int
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<func>
		<name>
			got_match_started
		</name>
		<description>
		</description>
		<param>
			<name>
				user_ids
			</name>
			<type>
				int[]
			</type>
			<description>
				Array of players
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				extra_match_info
			</name>
			<type>
				Object
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				match_started_time
			</name>
			<type>
				int
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<func>
		<name>
			user_ids
		</name>
		<description>
		</description>
		<param>
			<name>
				match_started_time
			</name>
			<type>
				int[ ]
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<func>
		<name>
			got_start_turn_of
		</name>
		<description>
		</description>
		<param>
			<name>
				user_id
			</name>
			<type>
				int
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<func>
		<name>
			got_end_turn_of
		</name>
		<description>
		</description>
		<param>
			<name>
				user_id
			</name>
			<type>
				int
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<func>
		<name>
			got_stored_match_state
		</name>
		<description>
		</description>
		<param>
			<name>
				user_ids
			</name>
			<type>
				int[ ]
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				keys
			</name>
			<type>
				String[ ]
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				datas
			</name>
			<type>
				Object[ ]
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<func>
		<name>
			got_message
		</name>
		<description>
		</description>
		<param>
			<name>
				user_id
			</name>
			<type>
				int
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				data
			</name>
			<type>
				Object
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<func>
		<name>
			got_timer
		</name>
		<description>
		</description>
		<param>
			<name>
				from_user_id
			</name>
			<type>
				int
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				key
			</name>
			<type>
				String
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				in_seconds
			</name>
			<type>
				int
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
		<param>
			<name>
				pass_back
			</name>
			<type>
				Object
			</type>
			<description>
			</description>
			<defaultvalue>
			</defaultvalue>
		</param>
	</func>
	<new>
		<description>
			New game description	  
		</description>
	</new>
</server>